<template>
  <div class="container">
    <div class="input-group input-group-lg">
      <input
        v-model="searchText"
        type="text"
        class="form-control mb-3"
        placeholder="Search..."
      />
    </div>
    <ul class="list-group">
      <li
        v-for="album in filterAlbum"
        :key="album.id"
        class="list-group-item d-flex align-items-center"
      >
        <img :src="album.thumbnailUrl" alt="" />
        <h6 class="ms-3">{{ album.title }}</h6>
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  data() {
    return {
      searchText: "",
      albums: [],
    };
  },
  created() {
    fetch("https://jsonplaceholder.typicode.com/photos")
      .then((response) => {
        return response.json();
      })
      .then((data) => {
        this.albums = data;
      })
      .catch((error) => {
        console.error("Panic at the disco:", error);
      });
  },
  computed: {
    filterAlbum() {
      return this.albums.filter((album) =>
        album.title.includes(this.searchText)
      );
    },
  },
};
</script>

<style>
img {
  width: 20px;
  height: 20px;
}
</style>
